*{
  box-sizing: border-box;
}

body{
  background: #000;
  margin: 0; 
  padding: 0;
}

.navbar{
  background-color: #fff;
  padding: 5px 10px;
  margin: 0;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card{
  background: #fff;
  color: #000;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}